<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="tableborder">
<tr><td width="100%" class="header">$blogtopic[subject]</td></tr>
<tr><td width="100%" class="altbg1">$blogtopic[karma]
$blogtopic[message]
<!--{if $blogtopic['attachment']}-->
	<br><br><img src="images/attachicons/common.gif">&nbsp;{lang attachment}: <i>{lang attach_nopermission}</i>
<!--{else}-->
	<!--{loop $blogtopic['attachments'] $attach}-->
		<br><br>$attach[attachicon] 
		<!--{if $attach['attachimg']}-->
			{lang attach_img}: <!--{if $attach['readperm']}-->, {lang readperm} $attach[readperm]<!--{/if}-->
			<!--{if $attach['description']}-->[{$attach[description]}]<!--{/if}--> <a href="attachment.php?aid=$attach[aid]" target="_blank">$attach[filename]</a> ($attach[attachsize])<br><br>
			<!--{if $attachrefcheck}-->
				<img src="attachment.php?aid=$attach[aid]&noupdate=yes" border="0" onload="if(this.width>screen.width*0.7) {this.resized=true; this.width=screen.width*0.7; this.alt='{lang image_open_zoom}';}" onmouseover="if(this.resized) this.style.cursor='hand';" onclick="if(!this.resized) {return false;} else {window.open('attachment.php?aid=$attach[aid]');}" onmousewheel="return imgzoom(this);">
			<!--{else}-->
				<img src="$attachurl/$attach[attachment]" border="0" onload="if(this.width>screen.width*0.7) {this.resized=true; this.width=screen.width*0.7; this.alt='{lang image_open_zoom}';}" onmouseover="if(this.resized) this.style.cursor='hand';" onclick="if(!this.resized) {return false;} else {window.open('$attachurl/$attach[attachment]');}" onmousewheel="return imgzoom(this);">
			<!--{/if}-->
		<!--{else}-->
			{lang attachment}: <!--{if $attach['description']}-->[{$attach[description]}]<!--{/if}--> <a href="attachment.php?aid=$attach[aid]" target="_blank">$attach[filename]</a> ($attach[attachsize])<br>
			<span class="smalltxt">{lang attach_download_count} $attach[downloads]
			<!--{if $attach['readperm']}-->, {lang readperm} $attach[readperm]<!--{/if}--></span><br>
		<!--{/if}-->
	<!--{/loop}-->
<!--{/if}-->
</td></tr></table><br>

$multipage
<!--{if $commentlist}-->
	<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="tableborder">
	<tr><td class="header">$blogtopic[replies] {lang blog_comments}</td></tr></table><br>
	<!--{loop $commentlist $comment}-->
		<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" class="tableborder">
		<tr><td class="$comment[thisbg]"><!--{if $comment['subject']}--><span class="bold"><span class="smalltxt">$comment[subject]</span></span><br><br><!--{/if}-->
		$comment[message]<br><br><table cellspacing="0" cellpadding="0" border="0" width="100%" class="smalltxt">
		<tr><td>
		<!--{if $comment['authorid']}-->
			<!--{if $comment['username']}-->
				<a href="viewpro.php?uid=$comment[authorid]" class="bold" title="$comment[authortitle]{LF}{LF}{lang credits}: $comment[credits]{LF}{lang posts}: $comment[posts]{LF}{lang regtime}: $comment[regdate]">$comment[author]</a> {eval showstars($comment['stars']);}
			<!--{else}-->
				<span class="bold">$comment[author]</span> <span class="smalltxt">{lang member_deleted}</span>
			<!--{/if}-->
		<!--{else}-->
			<span class="bold">{lang guest}</span> <span class="smalltxt">$comment[useip]</span>
		<!--{/if}-->
		</td>
		<td align="right">$comment[dateline]</td></tr></table></td></tr>
		</table><br>
	<!--{/loop}-->
<!--{/if}-->
$multipage

<!--{if $allowpostreply}-->
	<script language="JavaScript">
	var postminchars = $minpostsize;
	var postmaxchars = $maxpostsize;
	var disablepostctrl = $disablepostctrl;
	function validate(theform) {
		if (theform.message.value == "" && theform.subject.value == "") {
			alert("{lang post_subject_and_message_isnull}");
			return false;
		} else if (theform.subject.value.length > 80) {
			alert("{lang post_subject_toolang}");
			return false;
		}
		if (!disablepostctrl && ((postminchars != 0 && theform.message.value.length < postminchars) || (postmaxchars != 0 && theform.message.value.length > postmaxchars))) {
			alert("{lang post_message_length_invalid}\n\n{lang post_curlength}: "+theform.message.value.length+" {lang bytes}\n{lang board_allowed}: "+postminchars+" {lang to} "+postmaxchars+" {lang bytes}");
			return false;
		}			
		theform.replysubmit.disabled = true;
		return true;
	}
	</script>

	<form method="post" name="input" action="post.php?action=reply&fid=$fid&tid=$tid&replysubmit=yes" onSubmit="return validate(this)">
	<input type="hidden" name="formhash" value="{FORMHASH}">
	<input type="hidden" name="isblog" value="yes">
	<input type="hidden" name="page" value="$page">
	<input type="hidden" name="starttime" value="$starttime">
	<input type="hidden" name="endtime" value="$endtime">

	<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" align="center" class="tableborder">
	<tr><td colspan="2" class="header">{lang blog_post_comment}</td></tr>
	<tr>
	<td width="18%" class="altbg1">{lang subject}:</td>
	<td width="82%" class="altbg2"><span class="smalltxt"><input type="text" name="subject" size="80" value="" tabindex="1"> &nbsp; ({lang optional})</span></td>
	</tr>
	<tr>
	<td width="18%" class="altbg1" valign="top">{lang options}:<br><span class="smalltxt">
	<input type="checkbox" name="parseurloff" value="1"> {lang disable} {lang post_parseurl}<br>
	<input type="checkbox" name="smileyoff" value="1"> {lang disable} <a href="faq.php?page=messages#6" target="_blank">{lang post_smilies}</a><br>
	<input type="checkbox" name="bbcodeoff" value="1"> {lang disable} <a href="faq.php?page=misc#1" target="_blank">{lang post_discuzcode}</a><br>
	<input type="checkbox" name="usesig" value="1" $usesigcheck> {lang post_show_sig}<br>
	<input type="checkbox" name="emailnotify" value="1"> {lang post_email_notify}</span>
	</td>
	<td width="82%" class="altbg2"><span class="smalltxt"><textarea rows="7" name="message" style="width: 80%; word-break: break-all" onKeyDown="ctlent(event);" tabindex="2"></textarea><br>
	<input type="submit" name="replysubmit" value="{lang blog_post_comment}" tabindex="3">&nbsp;&nbsp;&nbsp;
	<input type="reset" name="topicsreset" value="{lang post_topicreset}" tabindex="4">&nbsp; &nbsp;{lang post_submit_hotkey}</span></td>
	</tr></table></form>
<!--{else}-->
	<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="100%" align="center" class="tableborder">
	<tr><td colspan="2" class="header">{lang blog_post_comment}</td></tr>
	<tr><td align="center" class="altbg2"><br><br>{lang blog_closed}<br><br><br></td></tr>
	</table><br>
<!--{/if}-->

<br><br><table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" align="center" class="tableborder">
<tr class="altbg2"><td align="center" class="smalltxt" nowrap> &nbsp; 
<a href="viewthread.php?action=printable&tid=$tid" target="_blank">{lang thread_printable}</a> | 
<a href="misc.php?action=emailfriend&tid=$tid" target="_blank">{lang thread_email_friend}</a> 
<!--{if $uid == $discuz_uid || $forum['ismoderator']}-->
	| <a href="misc.php?action=blog&tid=$tid" target="_blank">{lang blog_remove}</a> 
	| <a href="post.php?action=edit&fid=$blogtopic[fid]&tid=$tid&pid=$blogtopic[pid]" target="_blank">{lang edit_post}</a>
<!--{else}-->
	| <a href="misc.php?action=rate&tid=$tid&pid=$blogtopic[pid]&isblog=yes" target="_blank">{lang rate}</a>
<!--{/if}-->
&nbsp; </td></tr></table><br>