{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; {lang faq}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<!--{if is_array($customfaq)}-->
	<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
	<tr><td width="100%" class="header">$customfaq[title]</td></tr>
	<tr><td width="100%" class="altbg2" class="smalltxt">
	<ul>
	<!--{loop $customfaq['item'] $id $item}-->
		<li><a href="faq.php?page=custom#$id">$item[subject]</a></li>
	<!--{/loop}-->
	</td></tr></table>
	<br>
<!--{/if}-->

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<td width="100%" class="header">{lang faq_usermaint}</td>
</tr>
<tr>
<td width="100%" class="altbg2" class="smalltxt">
<ul>
<li><a href="faq.php?page=usermaint#1">{lang faq_usermaint_item1_q}</a></li>
<li><a href="faq.php?page=usermaint#2">{lang faq_usermaint_item2_q}</a></li>
<li><a href="faq.php?page=usermaint#3">{lang faq_usermaint_item3_q}</a></li>
<li><a href="faq.php?page=usermaint#4">{lang faq_usermaint_item4_q}</a></li>
<li><a href="faq.php?page=usermaint#5">{lang faq_usermaint_item5_q}</a></li>
<li><a href="faq.php?page=usermaint#6">{lang faq_usermaint_item6_q}</a></li>
</td>
</tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using}</td></tr>
<tr>
<td width="100%" class="altbg2" class="smalltxt">
<ul>
<li><a href="faq.php?page=using#1">{lang faq_using_item1_q}</a></li>
<li><a href="faq.php?page=using#2">{lang faq_using_item2_q}</a></li>
<li><a href="faq.php?page=using#3">{lang faq_using_item3_q}</a></li>
<li><a href="faq.php?page=using#4">{lang faq_using_item4_q}</a></li>
<li><a href="faq.php?page=using#5">{lang faq_using_item5_q}</a></li>
</td>              
</tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr>
<td width="100%" class="header">{lang faq_messages}</td> 
</tr>
<tr>
<td width="100%" class="altbg2" class="smalltxt">
<ul>
<li><a href="faq.php?page=messages#1">{lang faq_messages_item1_q}</a></li>
<li><a href="faq.php?page=messages#2">{lang faq_messages_item2_q}</a></li>
<li><a href="faq.php?page=messages#3">{lang faq_messages_item3_q}</a></li>
<li><a href="faq.php?page=messages#4">{lang faq_messages_item4_q}</a></li>
<li><a href="faq.php?page=messages#5">{lang faq_messages_item5_q}</a></li>
<li><a href="faq.php?page=messages#6">{lang faq_messages_item6_q}</a></li>
<li><a href="faq.php?page=messages#7">{lang faq_messages_item7_q}</a></li>
</td>
</tr></table>

<br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<td width="100%" class="header">{lang faq_misc}</td> 
</tr>
<tr>
<td width="100%" class="altbg2" class="smalltxt">
<ul>
<li><a href="faq.php?page=misc#1">{lang faq_misc_item1_q}</a></li>
<li><a href="faq.php?page=misc#2">{lang faq_misc_item2_q}</a></li>
<li><a href="faq.php?page=misc#3">{lang faq_misc_item3_q}</a></li>
</td>
</tr></table>
{template footer}