{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; <a href="faq.php">{lang faq}</a> &raquo; {lang faq_misc}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_misc}</td></tr>
<tr><td width="100%" class="altbg2" class="smalltxt"><ul>
<li><a href="faq.php?page=misc#1">{lang faq_misc_item1_q}</a></li>
<li><a href="faq.php?page=misc#2">{lang faq_misc_item2_q}</a></li>
<li><a href="faq.php?page=misc#3">{lang faq_misc_item3_q}</a></li>
</td></tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_misc_item1_q}</td><a name=#1></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">
{lang faq_misc_item1_a1}
<!--{loop $discuzcodes $code}-->
	<li>$code[example] &nbsp; ($code[explanation])<br><br></li>
<!--{/loop}-->
{lang faq_misc_item1_a2}
</td></tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_misc_item2_q}</td><a name=#2></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_misc_item2_a}</td></tr>
</table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_misc_item3_q}</td><a name=#3></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_misc_item3_a}</td></tr>
</table>
{template footer}