{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; <a href="faq.php">{lang faq}</a> &raquo; {lang faq_using}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using}</td> </tr>
<tr><td width="100%" class="altbg2" class="smalltxt"><ul>
<li><a href="faq.php?page=using#1">{lang faq_using_item1_q}</a></li>
<li><a href="faq.php?page=using#2">{lang faq_using_item2_q}</a></li>
<li><a href="faq.php?page=using#3">{lang faq_using_item3_q}</a></li>
<li><a href="faq.php?page=using#4">{lang faq_using_item4_q}</a></li>
<li><a href="faq.php?page=using#5">{lang faq_using_item5_q}</a></li>
</td></tr></table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using_item1_q}</td> <a name=#1></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_using_item1_a}</td></tr>
</table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using_item2_q}</td><a name=#2></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_using_item2_a}</td></tr>
</table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using_item3_q}</td><a name=#3></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_using_item3_a}</td></tr>
</table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using_item4_q}</td><a name=#4></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_using_item4_a}</td></tr>
</table><br>

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr><td width="100%" class="header">{lang faq_using_item5_q}</td><a name=#5></a></tr>
<tr><td width="100%" class="altbg2" class="smalltxt">{lang faq_using_item5_a}</td></tr>
</table>
{template footer}