{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; {lang member_login}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<form method="post" action="logging.php?action=login">
<input type="hidden" name="formhash" value="{FORMHASH}">
<input type="hidden" name="referer" value="$referer">
<input type="hidden" name="loginauth" value="$loginauth">
<input type="hidden" name="loginmode" value="$loginmode">
<input type="hidden" name="styleid" value="$styleid">
<input type="hidden" name="cookietime" value="$cookietime">

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">

<tr class="header">
<td colspan="2">{lang member_login}</td>
</tr>

<!--{if $seccodecheck}-->
	<tr>
	<td class="altbg1" width="21%">{lang seccode}:</td>
	<td class="altbg2"><span class="smalltxt"><input type="text" name="seccodeverify" size="4" maxlength="4" tabindex="1"> <img src="seccode.php" align="absmiddle"> {lang seccode_comment}</span></td>
	</tr>
<!--{/if}-->

<tr>
<td colspan="2" class="altbg2">{lang login_secques}</td>
</tr>

<tr>
<td class="altbg1" width="21%">{lang username}:</td>
<td class="altbg2"><input type="text" size="25" value="$username" disabled></td>
</tr>

<tr>
<td class="altbg1">{lang security_question}:</td>
<td class="altbg2"><select name="questionid" tabindex="3">
<option value="0">{lang security_question_0}</option>
<option value="1">{lang security_question_1}</option>
<option value="2">{lang security_question_2}</option>
<option value="3">{lang security_question_3}</option>
<option value="4">{lang security_question_4}</option>
<option value="5">{lang security_question_5}</option>
<option value="6">{lang security_question_6}</option>
<option value="7">{lang security_question_7}</option>
</select></td>
</tr>

<tr>
<td class="altbg1">{lang security_answer}:</td>
<td class="altbg2"><input type="text" name="answer" size="25" tabindex="4"></td>
</tr>

</table><br>
<center><input type="submit" name="loginsubmit" value="{lang member_login}"></center>
</form>
{template footer}