<form method="post" name="input" action="pm.php?action=send&pmsubmit=yes" onSubmit="javascript: this.pmsubmit.disabled=true">
<input type="hidden" name="formhash" value="{FORMHASH}">

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="99%" class="tableborder">
<tr>
<td width="100%" colspan="2" class="header"><a href="member.php?action=credits&view=pm" target="_blank"><img src="{IMGDIR}/credits.gif" alt="{lang credits_policy_view}" align="right" border="0"></a>{lang pm_send}</td>
</tr>

<!--{if $seccodecheck}-->
	<tr>
	<td class="altbg1" width="18%">{lang seccode}:</td>
	<td class="altbg2"><input type="text" name="seccodeverify" size="4" maxlength="4"> <img src="seccode.php" align="absmiddle"> <span class="smalltxt">{lang seccode_comment}</span></td>
	</tr>
<!--{/if}-->

<tr><td class="altbg1" width="18%">{lang to}:</td>
<td class="altbg2" width="82%"><input type="text" name="msgto" size="65" value="$touser"></td></tr>

<!--{if $buddylist}-->
	<tr><td class="altbg1" valign="top" id="buddy">{lang pm_to_buddy}:<br>
	<span class="smalltxt">{lang checkall}</span><input type="checkbox" name="chkall" onclick="checkall(this.form, 'msgtobuddys')"></td>
	<td class="altbg2">
	<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr><td>
	<!--{loop $buddylist $key $buddy}-->
		<!--{if $key % 3 == 0}--></td></tr><tr><td width="33%" nowrap><!--{else}--></td><td width="33%" nowrap><!--{/if}-->
		<input type="checkbox" name="msgtobuddys[]" value="$buddy[buddyid]"> $buddy[buddyname]
	<!--{/loop}-->
	</table>
	</td></tr>
<!--{/if}-->

<tr>
<td class="altbg1">{lang subject}:</td>
<td class="altbg2"><input type="text" name="subject" size="65" value="$subject"></td>
</tr>

<tr>
<td valign="top" class="altbg1">{lang message}:</td>
<td class="altbg2"><textarea rows="8" name="message" style="width: 85%; word-break: break-all" onKeyDown="ctlent(event);">
<!--{if $do == 'reply'}-->
	[b]{lang pm_orig_message}:[/b] [url={$boardurl}pm.php?action=view&folder=inbox&pmid={$pm[pmid]}]$pm[subject][/url]{LF}
<!--{elseif $do == 'forward'}-->
	[b]{lang pm_orig_message}[/b] [url={$boardurl}pm.php?action=send&pmid=$pm[pmid]&do=reply]({lang reply})[/url]
	[b]{lang from}:[/b] [url={$boardurl}viewpro.php?uid={$pm[msgfromid]}]$pm[msgfrom][/url]
	[b]{lang to}:[/b] [url={$boardurl}viewpro.php?uid=$discuz_uid]$discuz_user[/url]
	[b]{lang time}:[/b] $pm[dateline]{LF}{LF}
<!--{/if}-->
$message
</textarea><br><span class="smalltxt"><input type="checkbox" name="saveoutbox" value="1">{lang pm_send_save_outbox}</span></td>
</tr>

</table><br>
<center><input type="submit" name="pmsubmit" value="{lang submit}">
</center></form>