{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> &raquo; {lang search}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<form method="post" action="search.php" onSubmit="if(this.srchtype[0].value=='qihoo' && this.srchtype[0].checked) this.target='_blank'; else this.target=''; return true;">
<input type="hidden" name="formhash" value="{FORMHASH}">

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr class="header"><td>{lang search_keywords}</td><td><a href="member.php?action=credits&view=search" target="_blank"><img src="{IMGDIR}/credits.gif" alt="{lang credits_policy_view}" align="right" border="0"></a>{lang username}</td></tr>

<tr class="smalltxt">
<td class="altbg2" width="60%">
<input type="text" name="srchtxt" size="25" maxlength="40">
&nbsp; &nbsp;{lang search_keywords_comment}</td>

<td class="altbg2" width="40%"><input type="text" name="srchuname" size="25" maxlength="40">
<br><br>{lang search_username_comment}</td>
</tr>

<tr class="header"><td>{lang search_range}</td><td>{lang search_orderby}</td></tr>

<tr class="smalltxt">
<td class="altbg2">

<table cellspacing="0" cellpadding="0" border="0" width="100%" class="smalltxt"><tr><td width="40%">
<select name="srchfid">
<option value="all">{lang search_all_forums}</option>
<option value="">&nbsp;</option>$forumselect</select><br><br>
<!--{if $qihoo_status}--><input type="radio" name="srchtype" value="qihoo" $checktype[qihoo]> {lang search_qihoo} &nbsp; <!--{/if}-->
<input type="radio" name="srchtype" value="title" $checktype[title] $disabled[title]> {lang search_title}<br>
<input type="radio" name="srchtype" value="fulltext" $disabled[fulltext]> {lang search_fulltext} &nbsp; 
<input type="radio" name="srchtype" value="blog" $disabled[blog]> {lang search_blog}
</td><td>
<select name="srchfrom">
<option value="0">{lang search_any_date}</option>
<option value="86400">{lang 1_days_ago}</option>
<option value="172800">{lang 2_days_ago}</option>
<option value="432000">{lang 7_days_ago}</option>
<option value="1296000">{lang 30_days_ago}</option>
<option value="5184000">{lang 90_days_ago}</option>
<option value="8640000">{lang 180_days_ago}</option>
<option value="31536000">{lang 356_days_ago}</option>
</select><br><br>
<input type="radio" name="before" value="" checked> {lang search_newer}<br>
<input type="radio" name="before" value="1"> {lang search_older}
</td></tr></table>
</td>

<td class="altbg2">
<select name="orderby">
<option value="lastpost" selected="selected">{lang order_lastpost}</option>
<option value="dateline">{lang order_starttime}</option>
<option value="replies">{lang order_replies}</option>
<option value="views">{lang order_views}</option>
</select><br><br>
<input type="radio" name="ascdesc" value="asc"> {lang order_asc}<br>
<input type="radio" name="ascdesc" value="desc" checked> {lang order_desc}</td>
</tr>

</table><br>
<center><input type="submit" name="searchsubmit" value="{lang submit}"></center>
</form>
{template footer}