{template header}
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a> $navigation &raquo; <!--{if $thread['displayorder']}-->{lang admin_unstick}<!--{else}-->{lang admin_stick}<!--{/if}--></td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>

<form method="post" action="topicadmin.php?action=stick">
<input type="hidden" name="formhash" value="{FORMHASH}">

<table cellspacing="{INNERBORDERWIDTH}" cellpadding="{TABLESPACE}" width="{TABLEWIDTH}" align="center" class="tableborder">
<tr class="header">
<td colspan="2"><!--{if $thread['displayorder']}-->{lang admin_unstick}<!--{else}-->{lang admin_stick}<!--{/if}--></td>
</tr>

<tr>
<td class="altbg1" width="21%">{lang username}:</td>
<td class="altbg2">$discuz_userss <span class="smalltxt">[<a href="$link_logout">{lang member_logout}</a>]</span></td>
</tr>
<tr>
<td class="altbg1" width="21%">{lang level}:</td>
<td class="altbg2">

<!--{if $thread['displayorder']}-->
	<input type="radio" name="level" value="0" checked> {lang admin_unstick} &nbsp; &nbsp; 
	<input type="radio" name="level" value="1"> <img src="{IMGDIR}/star_level1.gif"> &nbsp; &nbsp; 
<!--{else}-->
	<input type="radio" name="level" value="1" checked> <img src="{IMGDIR}/star_level1.gif"> &nbsp; &nbsp; 
<!--{/if}-->

<input type="radio" name="level" value="2"> <img src="{IMGDIR}/star_level1.gif"><img src="{IMGDIR}/star_level1.gif"> &nbsp; &nbsp; 
<input type="radio" name="level" value="3"> <img src="{IMGDIR}/star_level1.gif"><img src="{IMGDIR}/star_level1.gif"><img src="{IMGDIR}/star_level1.gif">
</td></tr>

{template topicadmin_reason}

</table><br>
<input type="hidden" name="fid" value="$fid">
<input type="hidden" name="tid" value="$tid">
<center><input type="submit" name="sticksubmit" value="{lang admin_stick_unstick}"></center>
</form>
{template footer}